* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #126e82;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    width: 100%
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 22%;
    height: 850px; /* only for demonstration, should be removed */
    background: #51c4d3;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav h1 {
    color: #fff;
    top: 150px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  nav ul li{
    list-style-type: none;
    /* padding: 0; */
    padding: 30px 10px;
  border-bottom: 3px solid #bdb8d7;
  border-bottom: 3px solid rgba(0,0,0,0.05);
  border-top: 3px solid rgba(255,255,255,0.05);
  }
  nav ul li a {
    color: #000000;
    display: block;
  }
  nav ul li a .fas{
    width: 25px;
  }
  ul li:hover{
    background-color: #51c4d3;
  }
  ul li:hover a{
    color: #fff;
  }
  
  article {
    float: left;
    padding: 5px;
    width: 78%;
    background-color: #f1f1f1;
    height: 850px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #126e82;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }



.footer {
    text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


.section-services {
    padding-top: 110px;
    padding-bottom: 120px;
    font-family: "Poppins", sans-serif;
    background-color:#f3f5f9;
    color:black;
    text-align: center;
  }
  
 
  .section-services .header-section {
    margin-bottom: 35px;
  }
  
  .section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 3px;
    
  }
  
  .section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    
  }
  
  .section-services .header-section .description {
    color: lightblue;
  }
  
  .row:hover{
   
    border-bottom: 1px solid rgba(182, 4, 4, 0.05);
    border-top: 1px solid rgba(235, 20, 20, 0.05);
    
    cursor:pointer;
}



  .section-services .single-service {
    margin-top: 40px;
    background-color:lightblue ;
    box-shadow: 0 0 10px 0 lightblue;
  }
  
  .section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    border-bottom: 2px solid white;
  }
  
 
  
  .section-services .single-service .part-1 .title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.8em;
  }
  
  .section-services .single-service .part-2 {
    padding: 50px 40px 40px;
  }
  
  .section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #6f6f71;
    font-size: 14px;
    line-height: 1.8em;
  }

  
  .section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
  }
 
.footer {
    background-color:#845460;
    padding: 15px;
    text-align: center;
    color:whitesmoke;
  }

